<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/exam.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
   <form action="/addQuestions">
       <input type="submit" value="add"/>
   </form>
</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/client-socket.js"></script>

</html>