<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/videoLesson.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="studentProfilePage.html">Login Student</a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/">
                <li class="insidesItem">Home</li>
            </a>
            <a href="./shapeListPage.html">
                <li class="insidesItem">ShapeLists</li>
            </a>

            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <div id="chatBox" class="collapseBox">
        <div id="chatBoxHead" class="boxHeader">ChatBox
            <img id="menuArrow" class="arrow" src="../images/arrow.png" onclick="toggleMenu('chatBoxInsides')" />
        </div>
        <ul id="chatBoxInsides" class="boxInsides" style="visibility: collapse;">
            <li class="insidesItem" onclick="minMax()">Open/Close</li>
        </ul>
    </div>
    <img id="logo" src="../images/Logo3.png" />


    <iframe class="video" src="https://www.youtube.com/embed/T66idnQ1Wx8" frameborder="0" allowfullscreen></iframe>

    <div class="box prevBtn">
        <h2>Previous</h2>
        <h1><a href="shapeListPage.html">Back to Shape List</a></h1>
    </div>
    <div class="box nextBtn">
        <h2>Next</h2>
        <h1><a href="prismVolLesson.html">Volume of a Right Rectangular Prism</a></h1>
    </div>
    <div id="boxYo" class='chatBox ui-widget-content'>
        <ul id='messages'></ul>
        <form action="" class="clientText" onsubmit="return false;">
            <div class="input-group">
                <!-- Autocomplete attribute used for setting if the browser will try to suggest previous text -->
                <input id='textWindow' class="form-control" autocomplete="off" />
                <div class="input-group-btn">
                    <button id='btnSub' type="button" class="btn btn-default">Send</button>
                </div>
            </div>
        </form>
    </div>
</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/client-socket.js"></script>

</html>