<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/shapeList.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">    <link rel='shortcut icon' href="images/Logo2.png"/ >
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="/profile">
                <%= user.local.username %>
            </a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/home">
                <li class="insidesItem">Home</li>
            </a>
            <a href="/shapelist">
                <li class="insidesItem">ShapeLists</li>
            </a>
            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <div id="chatBox" class="collapseBox">
        <div id="chatBoxHead" class="boxHeader">ChatBox
            <a href="/Logout">
                <button>Logout</button>
            </a>
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('chatBoxInsides')" />
        </div>
        <ul id="chatBoxInsides" class="boxInsides" style="visibility: collapse;">
            <li class="insidesItem" onclick="minMax('boxYo')">Public</li>
            <%for (i = 0; i< studentArray.length; i++) { %>
                <li class="insidesItem" onclick="minMax('<%= studentArray[i].local.username%>')">
                    <%= studentArray[i].local.username %>
                </li>
                <% } %>
        </ul>
    </div>

    <img id="logo" src="../images/Logo3.png" />

    <div id="twoD" class="List">
        <h1>2d Shapes</h1>
        <ul class="shapeList">
            <li class="shapeItem">
                <a href="/squareWorkshop"><img class="shapeImg" src="../images/square.png" /></a>
                <div class="shapeWords">
                    <a href="squareWorkshop"><h3 class="shapeName">Rectangle</h3></a>
                    <p class="shapeFormula">1: <a href="/perimeterLesson">Perimeter</a></p>
                    <p class="shapeFormula">2: <a href="/rectAreaLesson">Area</a></p>
                </div>
            </li>
            <li class="shapeItem">
                <a href="/circleWorkshop"><img class="shapeImg" src="../images/circle.png" /></a>
                <div class="shapeWords">
                    <h3 class="shapeName"><a href="/circleWorkshop">Circle</a></h3>
                    <p class="shapeFormula">1: <a href="/circumfrenceLesson">Circumfrence</a></p>
                    <p class="shapeFormula">2: <a href="/circAreaLesson">Area</a></p>
                </div>
            </li>
        </ul>
    </div>
    <div id="threeD" class="List">
        <h1>3d Objects</h1>
        <ul class="shapeList">
            <li class="shapeItem">
                <a href="/cubeWorkshop"><img class="shapeImg" src="../images/cube.png" /></a>
                <div class="shapeWords">
                    <h3 class="shapeName"><a href="/cubeWorkshop">Right Rectangular Prism</a></h3>
                    <p class="shapeFormula">1: <a href="/prismSALesson">Surface Area</a></p>
                    <p class="shapeFormula">2: <a href="/prismVolLesson">Volume</a></p>
                </div>
            </li>
            <li class="shapeItem">
                <a href="/sphereWorkshop"><img class="shapeImg" src="../images/sphere.gif" /></a>
                <div class="shapeWords">
                    <h3 class="shapeName"><a href="/sphereWorkshop">Sphere</a></h3>
                    <p class="shapeFormula">1: <a href="/sphereSALesson">Surface Area</a></p>
                    <p class="shapeFormula">2: <a href="/sphereVolLesson">Volume</a></p>
                </div>
            </li>
        </ul>
    </div>
    <div id="chatBoxArea">
        <div id="boxYo" class='chatBox ui-widget-content'>
            <ul id='messages'></ul>
            <form action="" class="clientText" onsubmit="return false;">
                <div class="input-group">
                    <input id='textWindow' class="form-control" autocomplete="off" />
                    <div class="input-group-btn">
                        <button id='btnSub' type="button" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/client-socket.js"></script>
<script src="../scripts/main.js"></script>

</html>