<html>

<head>
    <title>ShapesList</title>
    <link rel="stylesheet" href="../stylesheets/main.css">
    <link rel="stylesheet" href="../stylesheets/videoLesson.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel='shortcut icon' href="images/Logo2.png" />
    <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<body>
    <div id="menu" class="collapseBox">
        <div id="menuHead" class="boxHeader">
            <a href="/profile">
                <%= user.local.username %>
            </a>
            <!--            <a href="pages/teacherProfilePage.html">Login Teacher</a>-->
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('menuInsides')" />
        </div>
        <ul id="menuInsides" class="boxInsides" style="visibility: collapse;">
            <a href="/home">
                <li class="insidesItem">Home</li>
            </a>
            <a href="/shapelist">
                <li class="insidesItem">ShapeLists</li>
            </a>
            <a href="/profile">
                <li class="insidesItem">Profile Page</li>
            </a>
        </ul>
    </div>
    <div id="chatBox" class="collapseBox">
        <div id="chatBoxHead" class="boxHeader">ChatBox
            <a href="/Logout">
                <button>Logout</button>
            </a>
            <img id="menuArrow" class="arrow" src="../../images/arrow.png" onclick="toggleMenu('chatBoxInsides')" />
        </div>
        <ul id="chatBoxInsides" class="boxInsides" style="visibility: collapse;">
            <li class="insidesItem" onclick="minMax('boxYo')">Public</li>
            <%for (i = 0; i< studentArray.length; i++) { %>
                <li class="insidesItem" onclick="minMax('<%= studentArray[i].local.username%>')">
                    <%= studentArray[i].local.username %>
                </li>
                <% } %>
        </ul>
    </div>
    <img id="logo" src="../images/Logo3.png" />


    <iframe class="video" src="https://www.youtube.com/embed/BEOLS6-K00k" frameborder="0" allowfullscreen></iframe>

    <a href="/sphereSALesson">
        <div class="box prevBtn">
            <h2>Previous</h2>
            <h1>Surface Area of a Sphere</h1>
        </div>
    </a>
    <a href="/sphereExam">
        <div class="box nextBtn">
            <h2>Next</h2>
            <h1>Take the Exam</h1>
        </div>
    </a>
    <div id="chatBoxArea">
        <div id="boxYo" class='chatBox ui-widget-content'>
            <ul id='messages'></ul>
            <form action="" class="clientText" onsubmit="return false;">
                <div class="input-group">
                    <input id='textWindow' class="form-control" autocomplete="off" />
                    <div class="input-group-btn">
                        <button id='btnSub' type="button" class="btn btn-default">Send</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<footer>Site made and owned by Christian F. Coreil</footer>
<script src="../scripts/main.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="../scripts/client-socket.js"></script>

</html>