.examLogo {
    width: 100px !important;
}

.examBox {
    width: 80%;
    height: 650px;
    max-width: 900px;
    margin-top: 50px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    background: #283C92;
}

.examQuestionList {
    padding-left: 20px;
}

.examQuestion {
    list-style-type: none;
    /*    border: 1px solid black;*/
    height: 350px;
    width: 99%;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.questionItem {
    width: 30%;
    display: inline-block;
    margin-right: 2%;
    float: right;
    margin-bottom: 20px;
}

.questionImg {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}


/*Question descrip and user input*/

.questionAndInput {
    text-align: center;
    height: 200px;
    vertical-align: middle;
    font-size: 18px;
    padding-top: 60px;
}

.questionDescrip {}

.userAnswer {
    margin-bottom: 5px;
}

.submitAnswerBtn {}


/*Question descrip and user input*/


/*Answer section*/

.answerBox {
    text-align: center;
    height: 90%;
    vertical-align: middle;
}

.answerBoxCover {
    background: white;
    color: black;
    box-sizing: border-box;
    height: 100%;
    font-size: 25px;
    padding-top: 50%;
}

.answerDescrip {
    height: 100%;
    visibility: hidden;
    position: relative;
    bottom: 250px;
    font-size: 50px;
}


/*Answer Section*/

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}

#submitScore {
    position: absolute;
    width: 500px;
    height: 120px;
    padding-top: 20px;
    margin-top: 280px;
    background: white;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    visibility: hidden;
    border: 1px solid black;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
    z-index: 2;
    color: black;
    font-size: 80px;
}

#submitScore form {
    height: 100%;
}

#submitScore input[type='number'] {
    width: 60px;
    height: 100px;
    font-size: 30px;
    float: left;
    margin-left: 20px;
    font-size: 80px;
    border-width: 0px;
    border: none;
}

#submitScore input[type='submit'] {
    width: 200px;
    height: 100px;
    font-size: 30px;
    float: right;
    margin-right: 20px;
}