.list {
    height: 550px;
    max-width: 600px;
    width: 40%;
    display: inline-block;
    position: absolute;
    margin-top: 80px;
    background: #283C92;
}

#twoD {
    right: 55%;
}

#threeD {
    left: 55%;
}

h1 {
    text-align: center;
}

.shapeList {
    padding-left: 20px;
}

.shapeItem {
    list-style-type: none;
    width: 90%;
    margin-left: 10px;
    margin-bottom: 20px;
    background: white;
    color: black;
    padding-left: 15px;
}

.shapeItem a {
    color: black;
}

.shapeWords {
    display: inline-block;
}

.shapeImg {
    width: 100px;
}

.shapeName {
    text-align: center;
}

