.classroomBox {
    width: 20%;
    display: block;
    float: left;
}

.rightSide {
    width: 52% !important;
}

.examItemListBox {
    width: 27% !important;
}

.studentsItemList {
    padding-left: 0px;
    height: 99.5%;
    margin-top: 0px;
    overflow-y: scroll;
    border: 2px solid gray;
}

.studentsItem {
    list-style-type: none;
    width: 93%;
    padding-left: 10px;
    border-bottom: 2px solid gray;

}

.examItem h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}