.classroomBox {
    width: 20%;
    display: block;
    float: left;
}

.rightSide {
    width: 52% !important;
}

.examItemListBox {
    width: 27% !important;
}

.studentsItemList {
    height: 655px;
    margin-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;
/*    border: 2px solid black;*/
/*        background-color: #ffffff;*/
    padding: 6px;
}

.studentsItem {
    list-style-type: none;
/*    width: 93%;*/
    padding-left: 10px;
    background-color: lightgrey;
    color: black;
    margin-bottom: 5px;
    margin-top: 0px;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.examItem h3 {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}



.medalListBox{
    height: 50% !important;
    display: block;
}

.gradeDiv {
    height: 30%;
    width: 50px;
    padding-top: 5px;
}