.video {
    width: 650px;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.box {
    height: 100px;
    max-width: 400px;
    width: 40%;
    background-color: #283C92;
    display: inline-block;
    position: absolute;
    bottom: 80px;
}

.box:hover {
    filter: brightness(120%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.prevBtn {
    right: 55%;
}

.nextBtn {
    left: 55%;
}

h2 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
}

h1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-size: 24px;
}