.workshopArea {
    border: 1px solid black;
    margin-top: 37px;
    height: 673px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

body {
    min-width: 1900px;
}

#menu {
    position: fixed;
}

#chatbox{
    position: fixed;
}


/*Areas on the left side of the screen*/

.side {
    border: 1px solid black;
    width: 49.7%;
    display: block;
    height: 100%;
}

.leftSide {
    float: left;
    width: 500px;
}


/*forulmas over play box*/

.formulaArea {
    height: 172px;
    background: white;
}

.formula {
    width: 153.6px;
    display: block;
    margin-left: 10px;
    float: left;
    border-right-style: solid;
    border-right-color: black;
    color: black;
    height: 99.9%;
}

#colorInput {
    width: 90%;
}


/*forulmas over play box*/

.playBox {
    height: 70%;
    width: 100%;
}


/*Areas on the left side of the screen*/


/*Areas on the right side of the screen*/

.rightSide {
    float: right;
}


/*Top right box info*/

.shapeInfoBox {
    height: 48%;
    width: 99.9%;
}


/*Area for all shape related customization*/

.coreMeasuresBox {
    height: 99.9%;
    width: 49.5%;
    float: left;
}

.coreMeasure {
    margin-left: 20px;
}

.gInput {
    border-color: #00B700;
    border-width: 4px;
}

.bInput {
    border-color: #4C4CFF;
    border-width: 4px;
}

.rInput {
    border-color: #FF0000;
    border-width: 4px;
}


/*Area for all shape related customization*/

.btnArea {
    height: 99.9%;
    width: 49.5%;
    float: right;
    padding-top: 20px;
    box-sizing: border-box;
}

.btnArea button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
}

.resetBtn {
    width: 49%;
    display: block;
    float: left;
}

.lessonBtn {
    width: 49%;
    display: block;
    float: left;
}


/*Top right box info*/

.descripBox {
    border: 1px solid black;
    height: 49.9%;
    text-align: center;
    padding-top: 10px;
}


/*Areas on the right side of the screen*/