.workshopArea{
    border: 1px solid black;
    margin-top: 37px;
    height: 72%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

body{
    min-width: 1900px;
}

/*Areas on the left side of the screen*/
.side{
    border: 1px solid black;
    width: 49.7%;
    display: block;
    height: 100%;
}

.leftSide{    
    float: left;
}

/*forulmas over play box*/
.formulaArea{
    border: 1px solid black;
    height: 30%;
}

.forumla{
    border: 1px solid black;
    width: 46%;
    display: block;
    margin-left: 10px;
    float: left;
}
/*forulmas over play box*/

.playBox{
    border: 1px solid black;
    height: 70%;
    width: 100%;
}

/*Areas on the left side of the screen*/




/*Areas on the right side of the screen*/
.rightSide{
    float: right;
}


/*Top right box info*/
.shapeInfoBox{
    border: 1px solid black;
    height:60%; 
}

/*Area for all shape related customization*/
.coreMeasuresBox{
    height: 70%;
    border: 1px solid black; 
    overflow-y: scroll;
}

.coreMeasure{
    border: 1px solid black;
}

.gInput{
    background: #00B700;
}

.bInput{
    background: #4C4CFF;
}

.rInput{
    background: #FF0000;
}

/*Area for all shape related customization*/

.btnArea{
    border: 1px solid black;
    height: 30%;
}

.resetBtn{
    border: 1px solid black;
    width: 49%;
    display: block;
    height: 100%;
    float: left;
}

.lessonBtn{
    border: 1px solid black;
    width: 49%;
    display: block;
    height: 100%;
    float: right;
}
/*Top right box info*/

.descripBox{
      border: 1px solid black;
    height: 40%;
}

/*Areas on the right side of the screen*/