.list {
    height: 550px;
    max-width: 600px;
    width: 40%;
    border: 1px solid black;
    display: inline-block;
    position: absolute;
    margin-top: 80px;
}

#twoD {
    right: 55%;
}

#threeD {
    left: 55%;
}

h1 {
    text-align: center;
}

.shapeList {
    padding-left: 20px;
}

.shapeItem {
    list-style-type: none;
    border: 1px dashed black;
    width: 90%;
    margin-left: 0px;
    margin-bottom: 20px;
}

.shapeWords {
    display: inline-block;
}

.shapeImg {
    width: 100px;
}

.shapeName {
    text-align: center;
}

.shapeFormula {}